{% extends "base.html" %} {% block content %}
{{ super() }}
<script src="https://giscus.app/client.js"
        data-repo="jyjhie/readme"
        data-repo-id="R_kgDOIEF3-g"
        data-category="General"
        data-category-id="DIC_kwDOIEF3-s4CRn-Q"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
{% endblock %}